body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
nav {
  position: fixed !important;
  z-index: 10;
  width: 100%;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
nav .navbar-brand {
  color: #000;
  position: relative;
  left: 80px;
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  text-shadow: 0 0 5px #ff9900;
}
nav ul {
  margin: 0 auto;
  position: relative;
  left: 300px;
}
nav ul li {
  margin-right: 25px;
}
nav ul li a {
  color: #ff9900;
  display: inline-block;
  text-transform: uppercase;
  font-size: 17px;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
nav ul li a:hover {
  color: #fff;
  letter-spacing: 0.7px;
  font-size: 18px;
  border-bottom: 2px solid #fff;
}
nav ul li .active {
  border-bottom: 2px solid #fff;
}
.nav_active {
  background-color: #000;
}
.nav_active .navbar-brand {
  color: #fff;
}
.parallax-window {
  background-image: url(../../image/photo.jpg);
  width: 100%;
  height: 130vh;
  position: absolute;
  background-size: cover;
  bottom: 1px;
  min-height: 400px;
  background: transparent;
}
.home_page {
  position: relative;
  height: 100vh;
  width: 100%;
}
.home_page .home_box {
  position: relative;
  top: 200px;
  left: 180px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px #ff9900;
  box-shadow: 0 0 20px #ff9900;
  width: 43%;
  height: 55vh;
  padding: 45px 80px;
  background-color: rgba(0, 0, 0, 0.6);
}
.home_page .home_box p {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.7px;
}
.home_page .home_box a {
  width: 100%;
}
.home_page h1 {
  z-index: 2;
  position: relative;
  left: 96px;
  top: 585px;
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  background-color: #fff;
  height: 70px;
}
.home_page .social {
  z-index: 1;
  position: relative;
  top: 195px;
  right: 100px;
  height: 70vh;
  background-color: #000;
}
.home_page .social ul {
  position: relative;
  right: 15px;
  top: 25px;
}
.home_page .social ul li {
  list-style: none;
}
.home_page .social ul li a {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.home_page .social ul li a:hover {
  color: #ff9900;
}
.about_page {
  width: 100%;
  height: 90vh;
  background-color: #000;
}
.about_page .row .col-lg-5 .box-about {
  position: relative;
  top: 90px;
  left: 130px;
  width: 200%;
  padding: 30px 50px;
}
.about_page .row .col-lg-5 .box-about h2 {
  padding: 0 0 40px 0;
  color: #fff;
  border-bottom: 2px solid #ff9900;
}
.about_page .row .col-lg-5 .box-about p {
  padding: 15px 0 0 0;
  color: #fff;
}
.about_page .row .col-lg-5 .box-about a {
  margin-top: 30px;
  width: 100%;
}
.par-win-2 {
  background-image: url(../../image/photo_2.jpg);
  width: 100%;
  height: 40vh;
  position: absolute;
  background-size: cover;
  min-height: 400px;
  background: transparent;
}
.quote {
  width: 100%;
  height: 40vh;
  background-color: #fff;
  position: relative;
  top: 175px;
  z-index: 5;
}
.quote p {
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Mrs Sheppards', cursive;
  font-size: 30px;
  width: 60%;
  position: absolute;
  left: 300px;
  top: 50px;
}
.quote span {
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Mrs Sheppards', cursive;
  font-size: 30px;
  top: 150px;
  left: 1000px;
}
.par-win-3 {
  background-image: url(../../image/photo_3.jpg);
  width: 100%;
  height: 40vh;
  position: absolute;
  background-size: cover;
  min-height: 400px;
  background: transparent;
}
.contact {
  position: relative;
  top: 340px;
  background-color: #000;
  height: 60vh;
}
.contact .container .row .col-lg-4 {
  padding-top: 40px;
  padding-left: 90px;
  color: #fff;
}
.contact .container .row .col-lg-4 h2 {
  color: #fff;
}
.contact .container .row .link-page ul {
  list-style: none;
}
.contact .container .row .link-page ul li {
  position: relative;
  top: 50px;
  left: 20px;
  margin-top: 10px;
}
.contact .container .row .link-page ul li a {
  display: block;
  font-size: 20px;
  color: #7C7C7D;
  font-weight: 450;
  letter-spacing: 1.5px;
}
.contact .container .row .foot-brand h2 {
  position: absolute;
  right: 80px;
  top: 55px;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 70px;
  font-family: 'Josefin Sans', sans-serif;
}
.contact .container .row .foot-brand .form-inline {
  position: absolute;
  right: 40px;
  top: 170px;
}
.contact .row .social ul {
  position: absolute;
  left: 35%;
}
.contact .row .social ul li {
  list-style: none;
  display: inline-block;
}
.contact .row .social ul li a {
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.contact .row .social ul li a:hover {
  color: #ff9900;
  border-bottom: 2px solid #ff9900;
}
.contact .copy {
  position: relative;
  top: 80px;
  color: silver;
  left: 35px;
}
